* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:
        "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0;
    width: 100%;
    height: 50px;
    color: #161616;
}
main {
    padding: 30px 30px 0;
    min-height: calc(100vh - 112px); /* 100 view height - header height - padding */
    min-width: calc(100% - 60px); /* 100% - padding*/
    background-color: #f2f4f5;
}
.voltar {
    width: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}
.title {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0 0 10px 10px;
    font-size: xx-large;
}
.title > img {
    width: 50px;
    height: 50px;
}
.informations {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: fit-content;
}
.images-wrapper {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 10px;
}
.main-imgs {
    border-radius: 20px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    max-width: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}
.main-imgs:nth-child(1) {
    border-radius: 30px;
    width: 450px;
    height: 300px;
}
.viajar-btn {
    width: 90%;
    margin-bottom: 30px;
    transition: all 0.3s ease;
}
.viajar-btn:hover {
    transform: scale(1.01);
    background-color: #f7de00;
}
.viajar-btn:active {
    transform: scale(1);
}
#description {
    gap: 10px;
    margin: 10px 10px 20px;
}
#description h4 {
    color: rgb(62, 62, 62);
}
.offers-section {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.offers-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
}
.offers-text img {
    width: 100px;
    margin-left: 20px;
}
.cards-carousel {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 0 50px;
}
.btn-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    padding: 4px;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease;
}
.btn-carousel:hover {
    background-color: rgb(236, 236, 236);
}
.btn-carousel img {
    width: 70%;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    padding: 8px;
    backdrop-filter: none;
    border-radius: 35px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
}
.card:hover {
    transform: scale(1.03);
    background-color: #f3f3f3;
}
.card > img {
    width: 200px;
    height: 180px;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}
.card-label {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 20px;
    width: 100%;
    gap: 12px;
}
.card-label > img {
    width: 40px;
    height: 40px;
}
.label-text {
    display: flex;
    flex-direction: column;
    width: 90%;
}
hr {
    left: -10px;
    position: relative;
    margin-top: 16px;
    border-top: dotted;
}
.primary,
.secondary {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.primary {
    color: #161616;
    font-size: large;
}
.secondary {
    color: rgb(159, 159, 159);
    font-size: medium;
}
.small {
    font-size: small;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 90%;
    padding: 12px 10px;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
    background-color: #ead200;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button img {
    width: 16px;
    fill: red;
}
